<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/pt/index.html">
            <img src="/static/images/logo_codertec_atual.png" alt="logotipo CoderTec">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/pt/index.html#sobre">Codertec</a></li>
                <li class="nav-item"><a class="nav-link" href="/pt/sobre-mim.html">Sobre mim</a></li>
                <li class="nav-item"><a class="nav-link" href="/pt/index.html#servicos">Serviços</a></li>
                <li class="nav-item"><a class="nav-link" href="/pt/index.html#missao">Missão</a></li>
                <li class="nav-item"><a class="nav-link" href="/pt/index.html#contato">Contato</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="solucoesDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Soluções
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="solucoesDropdown">
                        <li><a class="dropdown-item" href="\pt\solucoes\websites/index.html">Websites Profissionais</a>
                        </li>
                        <li><a class="dropdown-item" href="\pt\solucoes\webapps\index.html">Web Apps & Dashboards</a></li>
                        <li><a class="dropdown-item" href="\pt\solucoes\agentes-ia\index.html">Agentes de IA &
                                Automação</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="\pt\portfolio.html" class="nav-link">Portfolio</a></li>

                <li class="nav-item"><a class="nav-link" href="https://codertec.com.br/blog/">Blog</a></li>
            </ul>
               <button id="installAppBtn" class="btn btn-outline-secondary btn-sm">
  📲 Usar como App
</button>
        </div>

    </div>
</nav>